$all: (
  "red": #a6001a,
  "sky": #2d89ef,
  "pink": #c21460,
  "dark": #333333,
  "blue": #00477e,
  "cyan": #187296,
  "lime": #66b032,
  "green": #004d33,
  "indigo": #4424d6,
  "purple": #8601af,
  "orange": #e06000,
);

$names: (
  "red",
  "sky",
  "pink",
  "dark",
  "blue",
  "cyan",
  "lime",
  "green",
  "indigo",
  "purple",
  "orange",
);

$values: (
  #a6001a,
  #2d89ef,
  #c21460,
  #333333,
  #00477e,
  #187296,
  #66b032,
  #004d33,
  #4424d6,
  #8601af,
  #e06000,
);