@use "/style/media";
@use "/pages/card/section";


.editor {
  > :nth-child(1) {
    margin-bottom: var(--grid-gutter-sm);
  }

  > :nth-child(2) {
    margin-right: var(--grid-gutter-sm);
  }
}

.editor,
.view {
  margin: 0 section.$jumbotron;
  margin-top: var(--grid-gutter-xs);
}


@include media.lg {
  .editor,
  .view {
    margin-left: section.$left-gap;
  }
}