.page {
  width: 100vw;
  height: 100vh;

  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;

  padding: var(--jumbotron-xxl) var(--jumbotron-md);

  > :first-child {
    margin-bottom: calc(var(--grid-gutter-lg) * 2);
  }
}